body {
    margin:0;
    padding:0;
}
a {
    text-decoration: none;
    color: #00a8ff;

    &:hover {
        color:#006ba0;
    }

    & + a {
        margin-left:.4em;
    }
}

.floating-parent {
    display:flex;
    align-items: center;

    background-color: #ebeef2;
    min-height:100vh;
    width:100%;

    .center-bar {
        flex-grow:1;
        margin:0 auto;

        max-width:330px;
        padding:1.2em;
        margin: 0 auto;

        background-color: #FFF;
        border-radius:.3em;

        -webkit-box-shadow: 0px 0px .6em .25em rgb(199, 199, 199);
        -moz-box-shadow: 0px 0px .6em .25em rgb(199, 199, 199);
        box-shadow: 0px 0px .6em .25em rgb(199, 199, 199);

        
    }
}


@import url('https://fonts.googleapis.com/icon?family=Material+Icons');